   :root {
  
}


.sidebar * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* {
    scrollbar-width: none;
    
}
html {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    flex-grow: 1;
}
body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: var(--light-gray);
    height: 100dvh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
* {
    margin: 0 !important;
    padding: 0 !important;
    flex-shrink: 0 !important;
    
}
.page {
    position: relative;
    display: flex;
    width: 100dvw;
  background-color: rgb(245, 245, 245);
    flex-direction: column;
 
 overflow: hidden;
}
@media (min-width: 769px) {








    .nav {
height: calc(13dvh - 2dvw);
width: calc(78dvw - 2dvh);
padding: 1dvh !important;
   margin: 1dvw !important;
   justify-content: space-between;
    }
    .sidebar {
 position: absolute;
    top: 1dvw;
    left: 0;
    height: calc(100dvh - 2dvw);
    width: 19dvw;
    margin-left: 1dvw !important;
    
    flex-direction: column;
    justify-content: space-between;
    }
    .page-content {
            position: absolute;
    right: 1dvw;
    bottom: 0;
    height: calc(100dvh - ((15dvh - 2dvw) + 2dvw));
    width: 78dvw;
    }
    .page-heading {
 width: calc(45% - 4dvh);
    margin-right: 5% !important;
    height: calc(100% - 4dvh);
    padding: 2dvh !important;
    justify-content: flex-start;
    
    }

.page-heading i {
        font-size: calc((13dvh - 2dvw) - 4dvh) !important;
    margin: 0 1dvh !important;
    max-height: calc((13dvh - 2dvw) - 2dvh);
    max-width: calc((13dvh - 2dvw) - 2dvh);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1dvh;
    background-color: rgb(255, 255, 255);
    padding: 1dvh !important;
    color: #000;
}
.page-heading h1 {
      font-size: calc(1dvh + 1dvw) !important;
    max-height: calc((13dvh - 2dvw) - 4dvh);
    
    max-width: calc((100% - ((13dvh - 2dvw) - 4dvh)) - 2ch);
    margin-left: 1ch;
    
}
.nav-account {
 height: 100%;
    max-width: 35%;
       border-radius: 1dvh;
    margin-left: 2% !important; 
    padding-left: 1dvw !important;
    cursor: pointer;
}
.nav-account:hover {
    background-color: rgb(112, 24, 184 , 0.9);
    
}
.nav-account:hover i {
    color: rgb(255, 255, 255);
    
}
.nav-account:hover h1 {
    color: rgb(255, 255, 255);
}

.nav-account i {
font-size: calc(((13dvh - 2dvw) / 2.5) + ((78dvw - 2dvh) / 2.5) / 50);
}
.nav-account h1 {
   font-size: calc(((13dvh - 2dvw) / 4.5) + ((78dvw - 2dvh) / 4.5) / 50);
    max-height: calc(100% - 1dvw);
    max-width: calc((((78dvw - 2dvh) * 0.35) - (((13dvh - 2dvw) / 2.5) + ((78dvw - 2dvh) / 2.5) / 50)) - 2ch);
line-height: normal;
    margin: 0 1ch !important;
}
.sidebar-closearea {
    display: none;
}
.sidebar-menu {
    display: none;
}
.nav-row {
    display: none !important;
}
.sidebar {
    display: flex;
}
._pc-sidebar-logo {
    height: calc(13dvh - 2dvw);
    width: 100%;
      margin: 1dvh 0 !important;
      display: flex;
}
._pc-sidebar-logo a {
    width: 45%; 
max-height: calc((100dvh - 2dvw) - 75dvh);
}
._pc-sidebar-logo a img {
    width: 100%;
    max-height: calc((100dvh - 2dvw) - 80dvh);
    
}
.sidebar-content {
    height: calc((100% - (13dvh - 2dvw)) - 4dvh);
    width: 100%;
    
    padding: 2dvh 0 !important;
}
.sidebar-content-navigation {
    height: calc(100% / 8);
    width: calc(100% - 4dvh);
}
.sidebar-content-navigation h1 {
    width: calc(100% - (((100% - 3dvh) - (100% / 1.5)) + (2dvh + 2ch)));
    max-height: 100%;
    font-size: calc((19dvw / 15));
     margin: 0 1ch !important;
}
.sidebar-content-navigation i {
  height: 5dvh;
    width: 5dvh;
      font-size: calc(0.8dvh + 0.8dvw);
         padding: 1dvh !important;
             margin-left: 2dvh !important;
}





}
@media (max-width: 768px) {












    .nav {
height: calc(24dvh - 4dvw);
width: 96dvw;
   margin: 2dvw !important;
   flex-direction: column;
    }
    .sidebar {
 position: absolute;
    top: 0dvw;
   
    height: 100dvh;
    width: 60dvw;
   display: none;
  
    background-color: rgb(218, 218, 218);
    z-index: +9999;
    flex-direction: column-reverse;
    justify-content: flex-end;
    }
    .page-content {
            position: absolute;
    right: 2dvw;
    top: calc(24dvh + 2dvw);
    height: calc(100dvh - ((24dvh + 2dvw)));
    width: 96dvw;
    }
 .page-heading {
 width: 100%;
    padding: 2dvh !important;
    height: 5dvh;
   
    
    }

.page-heading i {
        
    margin: 0 1dvh !important;
    max-height: 5dvh;
    max-width: calc((13dvh - 2dvw) - 2dvh);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1dvh;
    background-color: rgb(255, 255, 255);
    padding: 1dvh !important;
    color: #000000;
}
.page-heading h1 {
      /* font size is applied via js */
    max-height: 5dvh;
    font-size: 2.5dvh !important;
    max-width: calc((100% - ((13dvh - 2dvw) - 4dvh)) - 2ch);
    margin-left: 1ch;
    
}




.sidebar .nav-account {
 height: 10dvh;
 --navAccount_BackgroundColor: rgb(48, 48, 48);
    width: calc(57dvw - 2dvh);
       border-radius: 2dvh;
    border-left: 2dvh solid var(--navAccount_BackgroundColor);
    border-top: 0 !important;
    border-bottom: 0 !important;
    margin: 5% 0 !important;
    align-self: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--navAccount_BackgroundColor) !important;

}
.nav-account::after {
    content: "";
    height: 13dvh;
    width: 60dvw;
    
    position: absolute;
    right: 0;
    top: 100%;
    transform: translate(calc(2dvh + (60dvw - (57dvw + 2dvh))) , -12dvh);
    z-index: -1;
}

.sidebar .nav-account i {
font-size: 8.1428571429dvw;
color: rgb(255, 255, 255);
}
.sidebar .nav-account h1 {
   font-size: calc((3dvh + 3dvw) / 2.5);
    max-height: calc(100% - 1dvw);
    width: calc((57dvw - 2ch) - (8.1428571429dvw  * 2));
line-height: normal;
    margin: 0 1ch !important;
    
    color: rgb(255, 255, 255);
}
.sidebar-closearea {
    position: absolute;
    top: 0;
    left: 60dvw;
    display: flex;
    height: 100dvh;
    width: 100dvw;
    opacity: 0.2;
}
.sidebar-menu {
    display: inline-flex;
    height: 100%;
    width: calc(15dvh - 4dvw);

}
.sidebar-menu i {
    color: white !important;
}
.nav-row-img {
    width: calc(((100% - (15dvh - 4dvw)) - 6dvw));
    
    margin: 3dvw !important;
    border-radius: 2dvh;
justify-content: center;
display: flex;
height: calc(100% - 5dvw);
align-items: center;
background-color: rgb(231, 231, 231);

}
.nav-row-img img {
    width: 50%;
    max-height: calc(100% - 5dvw);
}

._pc-sidebar-logo {
    display: none;
}
.sidebar-content {
    height: calc(100% - 13dvh);
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 2dvh 0 !important;
   
}

.sidebar-content-navigation {
    height: calc(100% / 8);
    width: calc(100% - 4dvh);
}
.sidebar-content-navigation h1 {
    width: calc(100% - (((100% - 3dvh) - (100% / 1.5)) + (2dvh + 2ch)));
    max-height: 100%;
    font-size: calc((19dvw / 5));
     margin: 0 1ch !important;
}
.sidebar-content-navigation i {
  height: 5dvh;
    width: 5dvh;
      font-size: calc(1vh + 1dvw);
         padding: 1dvh !important;
             margin-left: 2dvh !important;
}












    
}
@media  (min-width: 2560px) {
  .page-heading h1 {
    font-size: calc(0.7dvh + 0.7dvw) !important;
  }
}
.nav {
    position: relative;
    align-self: flex-end;

    /* background-color: rgb(126, 10, 221); */
    background: linear-gradient(to right, rgb(126, 10, 221), rgb(81, 10, 139));
 border-radius: 1dvh;
    display: flex;
 
}
.sidebar {
   
    
    background-color: white;
    border-radius: 1dvh;
        border: 0.1dvh solid rgb(214, 214, 214);
}   
.page-content {

    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-heading {
   display: flex;
   align-items: center;
}
.page-heading i {
  
    
}
.page-heading h1 {
   color: white;
    overflow-y: scroll;
}
.nav-account {
    position: relative;
   
    background-color: rgb(112, 24, 184 , 0.6);
    /* background-color: red; */
 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    
}

.nav-account i {
    transition: 0.3s;
    color: rgb(235, 235, 235);
}
.nav-account h1  {
 
    transition: 0.3s;
    color: rgb(235, 235, 235);
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
  
    
}
.sidebar-closearea {
    background-color: rgb(0, 0, 0);
}
div {
    display: none;
}
.sidebar-menu {
    
    
    
    align-items: center;
    justify-content: center;
    align-self: flex-start !important;
    border-top-left-radius: 1dvh;
}
.sidebar-menu i {
    font-size: 3dvh;
}
.nav-row {
    height: calc(100% - 9dvh);
    width: 100%;
    display: flex;
align-items: flex-start;

}
._pc-sidebar-logo {

    
    align-items: center;
    justify-content: center;
    
  
    
}
.sidebar-content {
    flex-direction: column;
    display: flex;
}

.sidebar-content-navigation {

    background: linear-gradient(to right, rgb(93, 9, 141), rgb(162, 0, 255));
    align-self: center;
    border-radius: 2dvh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.sidebar-content-navigation h1 {
  
    overflow-y: scroll;
    color: white;
    
    display: flex;
    
   
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar-content-navigation i {
  
  
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(126, 10, 221);
 
    background-color: rgb(247, 247, 247);

    border-radius: 1dvh;
}
